@import 'utility';
@import 'navbar';
@import 'home';
@import 'menu';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: $theme-color;
  background-image: url('../images/overshot.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: darken($theme-color, 30%);
  // height: 60px;
  margin-top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

main {
  min-height: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Contact {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 16%, 0.9);
    border: thin dashed hsla(0, 0%, 47%, 0.9);
    box-shadow: 6px 6px 12px black;
    padding: 0 0 10px 10px;
    margin: 20px;

    h3 {
      margin: 10px auto;
      color: #fff;
    }

    .credentials, .contact-info, .guests {
      display: flex;
      justify-content: flex-start;
      margin: 5px auto;

      input {
        margin-right: 10px;
      }
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  .Footer {
    width: 100%;
  }

  p {
    text-align: center;
    color: #fff;
  }
}
