@import 'utility';
@import 'navbar';
@import 'home';
@import 'menu';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: $theme-color;
  background-image: url('../images/overshot.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: darken($theme-color, 30%);
  // height: 60px;
  margin-top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

main {
  min-height: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  .Footer {
    width: 800px;
  }

  p {
    text-align: center;
    color: #fff;
  }
}
